---
---
@charset "utf-8";
@font-face{
  font-family: 'FiraSansHeavy';
  src: url('/fonts/FiraSans-Heavy/firasans-heavy-webfont.eot');
  src: url('/fonts/FiraSans-Heavy/firasans-heavy-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/FiraSans-Heavy/firasans-heavy-webfont.woff') format('woff'),
  url('/fonts/FiraSans-Heavy/firasans-heavy-webfont.ttf') format('truetype'),
  url('/fonts/FiraSans-Heavy/firasans-heavy-webfont.svg#webfont') format('svg');
}

body {
  background-color: #222;
  font-family: Georgia;
  font-size: 12pt;
}


#main { background-color: #fff; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'FiraSansHeavy', Helvetica, Arial, sans;
}

a { color: #7BB74C; }
a:hover { color: #D8D255; } /* yellow */
a:hover { color: #65953E; }  /* darker */

.nav-tabs { background-color: #eee; }
